.app-layout {
    display: block;
}
.app-container {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}
.app-layout:has(.sidebar--active) .app-container {
    transform: translateX(120px);
}
.sidebar {
    background-color: #bdbdbd; 
    width: 80px;              
    position: fixed;           
    left: -120px;              
    height: calc(100vh - 60px);         
    padding: 30px 20px;        
    transition: left 0.3s ease; 
}
.sidebar.sidebar--active {
    left: 0;
}
.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar__box {
    width: 40px;
    height: 40px;
    background-color: #818181;
    border-radius: 12;
    transition: background-color 0.4s;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    filter: grayscale(100%);
}
.sidebar__link{
    text-decoration: none;
}
.sidebar__box:hover {
    background-color: #4b4b4b;
}

.topbar {
    background-color: #e0e0e0;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #cccccc;
}
.topbar__menu-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
}

.main-content {
    padding: 30px;
}

.footer {
    background-color: #e0e0e0;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}

.breadcrumbs {
    letter-spacing: 1px;
}