blinker==1.9.0
chardet==7.4.3
click==8.4.1
Flask==3.0.3
Flask-Cors==4.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==9.0.0
pillow==12.2.0
PyJWT==2.8.0
qrcode==8.2
reportlab==4.2.0
Werkzeug==3.1.8
