<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grupos.css') }}">
    <title>Document</title>
</head>
<body>
    <!-- Falta pasar el inicio del html a una template de jinja -->
    {% if grupos %}
    <div>
        <div style="width: 600px; float: left;">
            <div class="scrollableWrapper">
                <div class="scrollableContent">
                    {% for id_grupo in grupos_dict %}
                    <button class="boton-info-grupo"> {{ grupos_dict[id_grupo].nombre }} </button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Solo mostrar info de un grupo si se hizo click en su respectivo botón -->
        <!-- Falta mantener 3 alumnos por fila, igual que en el mockup -->
        <div style="margin-left: 620px;"> 
        <!-- alumnos obtenidos mediante un query distinto al de grupos, con los ids de los integrantes contenidos en el grupo actual -->
        {% for alumno in alumnos %}
        <div> (info del alumno) </div>
        {% endfor %}
        </div>
        
    </div>
    {% else %}
    <div>No se encontraron grupos.</div>
    {% endif %}

</body>
</html>