<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grupos.css') }}">
    <title>Document</title>
</head>
<body>
    <!-- Falta pasar el inicio del html a una template de jinja -->
    {% if grupos %}
    <div>
        <form action="" method="post">
            <div style="width: 600px; float: left;">
                <div class="scrollableWrapper">
                    <div class="scrollableContent">
                        {% for id_grupo in grupos_dict %}
                            <input type="radio"  name="boton-info-grupo" id="{{ grupos_dict[id_grupo].id }}" value="{{ grupos_dict[id_grupo].id }}">
                            <label for="{{ grupos_dict[id_grupo].id }}">{{ grupos_dict[id_grupo].nombre }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
        <!-- Falta mantener 3 alumnos por fila, igual que en el mockup -->
        <div style="margin-left: 620px;"> 
            {% if alumnos %}
                {% for alumno in alumnos %}
                <div class="info-alumno-grupo" aria-hidden="true">
                    Info de los alumnos
                </div>
                {% endfor %}
            {% endif %}
        </div>
        
    </div>
    {% else %}
        <div>No se encontraron grupos.</div>
    {% endif %}

</body>
</html>